.statistics {
  text-align: center;
  box-shadow: 3px 9px 25px -3px rgba(0,0,0,0.7);
}

.title {
  font-size: 32px;
  padding: 0 100px;
}

.stat {
  display: flex;
  color: #ecebeb;
}

.stat li {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px 0;
  width: calc(100% / 4);
  font-size: 20px;
}